<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <style>
    body {  
      /* display: flex; */
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color:rgba(255,255,255,0.95);
    }
    </style>
    <title>Login con Node + JWT + MySQL</title>
  </head>
  <body>

<div class="container">
    <div class="row">
        <div class="col-lg-12 shadow-lg p-3 mb-5">

          <div class="card border-primary">
            <div class="card-header bg-primary text-white">Registrarse</div>
            <ul>
              <% if(typeof errors != 'undefined'){ %>
                  <% errors.forEach(error =>{ %>
                      <li><%= error.message %></li>
                  <% }) %>
              <% } %>
          </ul>
            <div class="card-body text-primary">
              <form action="/register" method="POST">        
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre completo</label>
                    <input id="nombre" name="nombre" type="text" class="form-control" aria-describedby="emailHelp">              
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" name="password" type="password" class="form-control">
                </div>  
                <div class="mb-3">
                  <label for="password2" class="form-label">Confirmar Contraseña</label>
                  <input id="password2" name="password2" type="password" class="form-control">
              </div>   
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="rol"  value='Administrador'>
                <label class="form-check-label" for="rol">
                  Adiministrador
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="rol2" value='Operador' checked>
                <label class="form-check-label" for="rol2">
                 Operador
                </label>
              </div>                         
            </div>
            <div class="card-footer bg-transparent border-primary">
              <a href="/" type="button" class="btn btn-secondary">Cancelar</a>
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
            </form>
          </div>   
    
        </div>
    </div>
</div>

 
    
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>