<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link   rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
</head>
<body>
    <h1>Registro</h1>
    <ul>
        <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach(error =>{ %>
                <li><%= error.message %></li>
            <% }) %>
        <% } %>
    </ul>
    <form action="/usuario/register" method="POST">
        <div>
            <input type="text" id="nombre" name="nombre"  placeholder="Ingrese Nombre" required>
        </div>
        <div>
            <input type="email" id="email"  name="email" placeholder="Ingrese Email" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Ingrese contraseña" required>
        </div>
        <div>
            <input type="password" id="password2"  name="password2" placeholder="Confirme contraseña" required>
        </div>
        <div>
            <input type="submit" value="register">
        </div>
        <a href="/usuario/login"> Si esta registrado, inicie seción</a>
    </form>
    </form>
</body>
</html>